/*removing unnecessary space from body and aligning center*/

body {
    margin: 0, auto;
    padding: 0;
    text-align: center;
    }

    #Print{
        margin-top:20px;
        padding-top: 20px;
        
    }